.highlight {
    background-color: yellow; 
    font-weight: bold; 
  }

  .container {
    padding: 20px; 
    background-color: #b1daff; 
    border-radius: 8px; 
  }
  
#main-title {
    color: #4CAF50; 
    font-size: 2.5em; 
    margin-bottom: 10px;
  }

  #footer {
    background-color: #333; 
    color: white; 
    padding: 10px;
    text-align: center;
  }